<strong>Что делать если</strong>
<ul>
  <li>владелец сайта отключил комментарии к статье</li>
  <li><em>или</em> на сайте требуется регистрация/оплата</li>
  <li><em>или</em> Вашего пользователя заблокировали</li>
</ul>

<strong>… а Вы все равно хотите высказаться?</strong>


<center>
  <br />
  <br />
  <br />

  <form id="add-page-form" class="add-page-form">
    <label for="url" style="font-size: 120%">Что комментируем?</label><br />
    <input type="text" name="url" id="url" placeholder="URL-адрес статьи, видео или страницы" style="width: 100%; font-size: 150%" />
    <br />
    <br />
    <br />
    <br />
    <input type="submit" value="Хочу комментировать!" style="font-size: 150%" />
    <br /><small>(без регистрации)</small>
  </form>
</center>
