<style>
.devider { font-size: 300%; padding-top: 40px; padding-bottom: 40px; }
</style>

<form id="add-page-form" class="add-page-form">
  <table width="100%">
    <tr>
      <td width="100%" valign="top">
        <input type="text" name="url" id="url" placeholder="URL-адрес статьи, видео или страницы" style="width: 100%; font-size: 150%" />
      </td>
      <td align="right" valign="top">
        <input type="submit" value="Комментировать!" style="font-size: 150%" />
        <em style="font-size: 120%">(без регистрации)</em>
      </td>
    </tr>
  </table>
</form>

<br />
<br />
<br />

<center><h1>Сейчас комментируют</h1></center>

<table>
  <% for group in Page.published.order("created_at DESC").limit(6).in_groups(2, false) %>
    <tr>
      <% for page in group %>
        <td>
          <div class="article">
            <img src="http://#{page.domain}/favicon.ico" width="16" height="16" /> <a href="<%= page_path page.url %>"><%= page.title %></a>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />
<br />
<br />

<center><h1>Для чего этот сайт?</h1></center>


<ul>
  <li>владелец сайта отключил комментарии к статье</li>
  <li><em>или</em> на сайте требуется регистрация/оплата</li>
  <li><em>или</em> Вашего пользователя заблокировали</li>
</ul>

<strong>… а Вы все равно хотите высказаться?</strong>


<br />
<br />
<br />

<center><h1>Потенциальные клиенты</h1></center>

Есть много интересных сайтов, где комментарии отключены в принципе. Иногда промолчать бывает сложно.


<a href="http://www.vesti.ru">www.vesti.ru</a>
<a href="http://ria.ru">ria.ru</a>
<a href="http://www.interfax.ru">www.interfax.ru</a>
<a href="http://www.bbc.co.uk/russian">www.bbc.co.uk/russian</a>
<a href="http://www.gazeta.ru">www.gazeta.ru</a>
<a href="http://sprotyv.info/ru">sprotyv.info/ru</a>
<a href="http://www.unian.net">www.unian.net</a>
<a href="http://tvrain.ru">tvrain.ru</a>
<a href="http://ru.tsn.ua">ru.tsn.ua</a>
<a href="http://youtube.com">youtube.com</a>
<a href="http://vk.com">vk.com</a>
<a href="http://facebook.com">facebook.com</a>
<a href="http://livejournal.com">livejournal.com</a>
<a href="http://roi.ru">roi.ru</a>
<a href="http://www.snob.ru">www.snob.ru</a>


