<center>
  Хотите высказаться, но владелец сайта отключил комментарии к статье?


  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <form id="add-page-form" class="add-page-form">
    <label for="url" style="font-size: 120%">Адрес любой статьи:</label><br />
    <input type="text" name="url" id="url" placeholder="Например, http://utro.ua/123-opolchenci" style="width: 100%; font-size: 150%" />
    <br />
    <br />
    <br />
    <br />
    <input type="submit" value="Хочу комментировать!" style="font-size: 150%" />
  </form>
</center>
