<style>
.devider { font-size: 300%; padding-top: 40px; padding-bottom: 40px; }
</style>

<form id="add-page-form" class="add-page-form">
  <input type="text" name="url" id="url" placeholder="URL-адрес статьи, видео или страницы" style="width: 100%; font-size: 150%" />
  <br />
  <br />
  <input type="submit" value="Хочу комментировать!" style="font-size: 150%" />
  <em style="font-size: 120%">(без регистрации)</em>
</form>

<br />
<br />
<br />

<center><h1>Для чего этот сайт?</h1></center>


<ul>
  <li>владелец сайта отключил комментарии к статье</li>
  <li><em>или</em> на сайте требуется регистрация/оплата</li>
  <li><em>или</em> Вашего пользователя заблокировали</li>
</ul>

<strong>… а Вы все равно хотите высказаться?</strong>


<br />
<br />
<br />

<center><h1>Потенциальные клиенты</h1></center>

Есть много интересных сайтов, где комментарии отключены в принципе. Иногда промолчать бывает сложно.


<a href="http://www.vesti.ru">www.vesti.ru</a>
<a href="http://ria.ru">ria.ru</a>
<a href="http://www.interfax.ru">www.interfax.ru</a>
<a href="http://www.bbc.co.uk/russian">www.bbc.co.uk/russian</a>
<a href="http://www.gazeta.ru">www.gazeta.ru</a>
<a href="http://sprotyv.info/ru">sprotyv.info/ru</a>
<a href="http://www.unian.net">www.unian.net</a>
<a href="http://tvrain.ru">tvrain.ru</a>
<a href="http://ru.tsn.ua">ru.tsn.ua</a>
<a href="http://youtube.com">youtube.com</a>
<a href="http://vk.com">vk.com</a>
<a href="http://facebook.com">facebook.com</a>
<a href="http://livejournal.com">livejournal.com</a>
<a href="http://roi.ru">roi.ru</a>
<a href="http://www.snob.ru">www.snob.ru</a>


