<% content_for :meta_description do %>
Здесь можно обсуждать то, что обсуждать запрещено. Владелец сайта запретил комменатрии? Комментировать можно на No Comment!
<% end %>


<h1>Самые обсуждаемые сайты</h1>

<p>Если <strong>комментарии</strong> на сайте <em>запрещены</em>, просто введите адрес страницы и начните обсуждать ее с друзьями:</p>

<form id="add-page-form" class="add-page-form">
  <table width="100%">
    <tr>
      <td width="100%" valign="top">
        <input type="text" name="url" id="url" placeholder="Например, http://ria.ru/stranica-123" style="width: 100%; font-size: 150%" />
      </td>
      <td align="right" valign="top">
        <input type="submit" value="Комментировать!" style="font-size: 150%" />
        <em style="font-size: 120%">(без регистрации)</em>
      </td>
    </tr>
  </table>
</form>

<% domains = Page.group(:domain).count.sort_by { |r| -r[1] }.map(&:first) %>

  <table cellspacing="10px">
    <% for group in domains.in_groups_of(3, false) %>
      <tr>
        <% for domain in group %>
          <td valign="top">
            <div class="article">
              <img src="<%= favicon_url domain %>" width="16" height="16" /> <a href="<%= page_path domain %>"><%= domain %></a>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

