<html>
<head>
  <title>Co comment? - Там, где комментариев нет</title>

  <style>
    #page { width: 100%;  max-width: 750px; text-align: left; }
    #container { min-height: 300px }
    #logo a { text-decoration: none; color: black }
  </style>
</head>
<body>
  <center>
    <div id="page">
      <header>
        <table width="100%">
          <tr>
            <td valign="top">
              <div id="logo" style="float:left">
                <a href="/">
                  <span class="picture" style="float:left; font-size: 300%; padding-right: 15px">✍</span>
                  <span style="font-size: 200%;"> <strong>No Comment?</strong></span>
                  <br />
                  <em>Там, где комментариев нет</em>
                </a>
              </div>
            </td>
            <td align="right" valign="top">
              <form class="add-page-form">
                <input value="" type="text" name="url" placeholder="URL-адрес статьи" style="width: 220px; font-size: 80%" />
                <br />
                <input type="submit" value="Комментировать!" style="font-size: 80%" />
              </form>
            </td>
          </tr>
        </table>
      </header>

      <hr />
      <br />
      <br />

      <div id="container">
        <%= yield %>
      </div>

      <br />
      <br />
      <br />
      <br />

      <hr />
      <footer>
        2014 &copy; <a href="/">No comment</a>, <a href="http://www.russianpulse.ru">Русский пульс</a>
      </footer>
    </div>
  </center>

  </body>

  <script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</html>
